.confirmation-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #333;
  z-index: 2000;
  text-align: center;
}

.confirmation-modal p {
  margin-bottom: 20px;
  font-size: 16px;
}

.confirmation-modal button {
  padding: 10px;
  margin-right: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.confirmation-modal button:last-child {
  margin-right: 0;
}

.confirmation-modal button:hover {
  background-color: #45a049;
}
