.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: relative;
  width: 400px;
  max-width: 90%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #333;
}

.modal-content header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content label {
  margin-bottom: 8px;
  text-align: left; /* Alinha o texto dos labels à esquerda */
  font-size: 16px; /* Define o tamanho do texto dos labels */
 }

.modal-content input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-content button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-content button:hover {
  background-color: #45a049;
}

.modal-content .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 38px;
  cursor: pointer;
  color: #888;
  transition: color 0.3s ease;
}

.modal-content .close-button:hover {
  color: #555;
}

.delete-product-button {
  background-color: #cf3636 !important;
  color: #fff !important;
  margin-top: 10px !important;
  padding: 10px 20px !important;
  border: none !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  font-size: 13px !important;
  width: 100% !important; /* Largura total */
  box-sizing: border-box !important; /* Garante que padding não afeta a largura total */
  transition: background-color 0.3s ease !important;
}

.delete-product-button:hover {
  background-color: #cf3636 !important;
}